@using Capstone.Web.Models
@model List<SummarySurveys>
@{
    ViewBag.Title = "ListSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>

    <h1><strong>List Top Park Surveys</strong></h1>
           <table>
            <tr>
                <th><strong>Park Image</strong></th>
                <th><strong>Park Name</strong></th>
                <th><strong>Surveys submitted</strong></th>
            </tr>

            @{ foreach (var parks in Model)

                {
                    <tr>
                        <td><p><img style="width:130px;height:130px" src="~/Content/img/parks/@(parks.ParkCode).jpg" /></p></td>
                        <td><p style="font-size:20px;">@parks.ParkName</p></td>
                        <td><p style="font-size:20px;">@(parks.TotalSurveys)</p></td>
                    </tr>
                }

            }

        </table>
    
</section>



