body {
    background-color: forestgreen;
    font-family: sans-serif;
}


header {
    margin: 30px;
}

    header h1 {
        font-size: 50px;
        color: #FFFFFF;
        text-align:center;
    }

    header p {
        color: #FFFFFF;
        font-size: 12px;
    }

 

nav {
    margin-top: 20px;
    margin-bottom: 90px;
}

    /*nav h2 {
        color:;
        padding-left: 60px;
    }*/

    nav p {
        color: #FFFFFF;
        font-size: 12px;
        font-style: italic;
        padding-left: 60px;
    }



nav ul {
    width: 100%;
}

    nav ul li {
        float: left;
        margin-right: 20px;
        background-color: white;
        border-radius: 8px;
        list-style: none;
        text-align: center;
        width: 200px;
        height: 30px;
        padding-top: 2px;
        padding-bottom: 5px;
    }
nav:after {
    clear: both;
}

li a:hover {
    text-decoration: underline;
}
section {
    clear: both;
    display: block;
    width: 80%;
    margin: 20px auto;
    vertical-align: top;
    text-align: center;
    min-height: 420px;
    background-color: #FFF;
    border-radius: 7px;
    margin-top: 20px;
}
/*-------------Index-----------------------------------------*/

.flex-container-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 1000px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-img {
    margin: 1;
    list-style: none;
    width: 500px;
    height: 380px;
  
    margin-bottom: 1px;
}

.flex-cont {
    margin: 1px;
    width: 450px;
    height: 380px;
  text-align: left;
}

/*-----------------Forecast-------------------------------------------------*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#high
{
   color:red;
}
#low
{
   color:blue;
}
#forecast-content
{
    padding-bottom:20px;
    padding-left:20px;
}

/*-------------------------------------Survey------------------------------*/
.survey-content
{
    padding:30px 30px 30px 30px;
    text-align:left;
    background-color:khaki;
    font-size:20px;
    
}